.nav-action{
    font-size: 20px;
}
.colors-wrp{
    .color-item{
        border-radius: var(--border-radius);
        // overflow: hidden;
        margin: 0 20px 20px 0;
        .color-footer{
            padding: 10px;
        }
    }
}
.icon-copy {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .icon-copy .tooltiptext1 {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .icon-copy .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .icon-copy:hover .tooltiptext1 {
    visibility: visible;
    opacity: 1;
  }

.cpi{
  margin-right: 24px;
  max-width: 200px;
  max-height: 150px;
}

.company-navbar{
  margin-top: -50px;
  padding: 24px;
  background: #fff;
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
}
.section-label, h5{
  text-transform: uppercase;
  font-size: 16px;
  color: var(--light-text);
}
.social-links{
  .slink{    
    padding: 10px;
    width: fit-content;
    margin-bottom: 10px;
    gap: 10px;
    a{
      color: var(--text);
      text-decoration: none;
    }
  }
}

.fonts{
  .font-card{
    margin-right: 24px;
  }
}