.page-company{
    background-color: #f5f5f5 !important;
}

.add-new{
    color: #999;
    text-decoration: none;
    button:focus{
        outline: none !important;
        box-shadow: none !important;
    }
    .add-icon{
        height: 170px;
    }
}

.item{
    .dropdown-toggle::after{
        display: none;
    }
}
    
.collection{
    .img-size{
        display: flex;
        width: 150px;
        height: 150px;
    }
    label{
        width: 88px;
        font-size: 13px;
    }
}