.heading {
	font-weight: 800 !important;    
}
.w {
	color: #888;
}
.q {
	color: #888;
}
.brands-wrp {
	margin: 24px 0;
	div {
		margin: 20px;
		img {
			height: 28px;
		}
	}
}
.footer {
	padding: 20px 0;
	color: #888;
}
footer {
	a {
		color: #999;
	}
}
