@import 'theme';
.not-found{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}
.bg-gray{
    background-color: var(--bs-gray-100);
}
.bdr-none{
    border: none !important;
}
.box-shadow{
    box-shadow: var(--box-shadow);
}
.tags{
    padding:0;
    list-style: none;
    display: flex;
    flex-wrap: wrap !important;
    .tag-item{
        display: flex;
        background-color: var(--tag-color);
        border-radius: 4px;
        padding: 0 4px 0 8px;
        align-items: center;
        margin-right: 5px;
        margin-bottom: 5px;
        .tag-icon{
            display: flex;
            border-radius: 4px;
            margin-left: 3px;
            &:hover{
                background-color: rgba(0,0,0,.2);
            }
        }
    }
}

.wrpr{
    padding-top: 1.5rem;
    height: 100%;
}

.item-company{
    box-shadow: var(--box-shadow);
    background-color: #fff;
    border: none !important;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 2fr));
    justify-content: space-between;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: stretch;
    .item{        
        .card{
            border: none;            
        }
    }
}
