@import 'theme';
@mixin pattern-square() {
    background-image:  repeating-linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd), repeating-linear-gradient(45deg, #ddd 25%, #eee 25%, #eee 75%, #ddd 75%, #ddd);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}
.not-found{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}
.bg-gray{
    background-color: var(--bs-gray-100);
}
.bdr-none{
    border: none !important;
}
.box-shadow{
    box-shadow: var(--box-shadow);
}
.tags{
    padding:0;
    list-style: none;
    display: flex;
    flex-wrap: wrap !important;
    .tag-item{
        display: flex;
        background-color: var(--tag-color);
        border-radius: 4px;
        padding: 0 4px 0 8px;
        align-items: center;
        margin-right: 5px;
        margin-bottom: 5px;
        .tag-icon{
            display: flex;
            border-radius: 4px;
            margin-left: 3px;
            &:hover{
                background-color: rgba(0,0,0,.2);
            }
        }
    }
}

.wrpr{
    padding-top: 1.5rem;
    height: 100%;
}

.item-company{
    box-shadow: var(--box-shadow);
    background-color: #fff;
    border: none !important;
}
.separator{
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    display: flex;
    justify-content: center;
    .sep-txt{
        padding: 2px 10px;
        background: var(--bs-light);
        font-weight: bold;
    }
    &.center{
        .sep-txt{            
            margin-bottom: -15px;
        }
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 2fr));
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: stretch;
    .item{        
        .card{
            border: none;            
        }
    }
}
.grid-small{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: stretch;
    .item{        
        .card{
            border: none;            
        }
    }
}

.pattern-polka{
    background-color: #e5e5f7;    
    background-image:  radial-gradient(#999 1px, transparent 1px), radial-gradient(#999 1px, #f5f5f5 1px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
.pattern-square{    
    @include pattern-square;
}

.center-loader{
    position: fixed;
     top: 50%;
    left: 50%;
}


.blur{
    opacity: 0.8;
    transform: scale(0.9);
    box-shadow: -2px 2px 2px 2px;
}

.jodit-react-container{
    background: #fff;
}

.btn-icon{
    padding: 3px !important;
    border: none !important;
    border-radius: var(--border-radius) !important;
    background: transparent !important;
    &:hover{
        background: #f5f5f5 !important;
    }
    svg{
        width: 24px;
        height: 24px;        
    }
}
.tooltip{
    position: absolute !important;
}