.card{
    border: none !important;
}
.item{
    margin: 10px;    
}
.item a{
    text-decoration: none;
}
.item .card-title{
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    color: var(--bs-gray-700);
}
.img_size{
    padding: 16px;    
}
.img_size .svgInline{
    background-color: #ccc;
    border-radius: var(--bs-card-border-radius);
}
.img_size .svgInline svg{
    width: 250px;
    height: 250px;
    background-image: url("../constants/grid.png");
}

.popup_img .svgInline svg{
    width: 600px;
    height: 500px;
    background-image: url("../constants/grid.png");    
}