.item{
    margin: 10px;    
}
.item a{
    text-decoration: none;
}
.item .card-title{
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    color: var(--bs-gray-700);
}
.img_size{
    padding: 16px;    
}
.img_size .svgInline{
    background-color: #ccc;
    border-radius: var(--bs-card-border-radius);
}
.img_size .svgInline svg{
    width: 250px;
    height: 250px;
    background-image: url("../constants/grid.png");
}
.popup_img{
    padding: 0 !important;
    min-width: 200px;
    background-color: #ccc;
}
.popup_img .svgInline{
    background-image: url("../constants/grid.png");    
    height: 100vh;
    overflow: auto;
}
.popup_img .svgInline svg{
    width: 600px;
    height: 500px;
    margin: auto;
    display: block;
}
.mystuff_img .svgInline svg{
    height: 5px;
    width: 20px;
}