.item{
    margin: 0;    
}
.item a{
    text-decoration: none;
}
.item .card-title{    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--bs-gray-700);
    margin-bottom: 0 !important;
}
.img-size{
    padding: 16px;    
    text-align: center;
}

.img-size .svgInline{    
    border-radius: var(--bs-card-border-radius);
}
.img-size img{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.popup_img{
    padding: 0 !important;
    min-width: 200px;
    background-color: #ccc;
}
.popup_img .svgInline{    
    height: 100vh;
    overflow: auto;    
}
.popup_img .svgInline svg{
    width: 600px;
    height: 500px;
    margin: auto;
    display: block;
}
.mystuff_img .svgInline svg{
    height: 5px;
    width: 20px;
}